  :root {
    font-size: 16px;
    font-family: 'Ubuntu';
    --clr-neon: #0080ff;
    --clr-bg: #000000;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }

  html {
    scroll-behavior: smooth;
  }

  code {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  
  .top {
      background-color: #142850;
    color: #b6b6b6;
  }
  
  .layer1 {
    aspect-ratio: 960/300;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./waves.svg');
  }
  
  .layer2 {
aspect-ratio: 900/600;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./waves-reverse.svg');
  }

  .skip-nav-link {
    margin-left: 5em;
    position: absolute;
    padding: 1em 1em 1em 5em;
    transform: translateY(-100%);
    transition: transform 345ms ease-in;
  }
  
  .skip-nav-link:focus {
    transform: translateY(0%);
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #00cacc;
  }
  
  main {
    margin-left: 5rem;
  }
  
  section {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 400px;
      padding: 100px 20vw;
      justify-content: center;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
  }
  
  .foster-logo {
    min-width: 140px;
    max-width: 256px;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-secondary {
    color: #00cacc;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }

  .foster-logo {
    filter: none;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  .slink {
    font-weight: normal;
    text-decoration: underline;
    color: #0080ff;
  }
  
  .slink:hover {
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #090016;
    --bg-secondary: #141E61;
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #F4F9F9;
    --bg-secondary: #CCF2F4;
      background-color: var(--bg-primary);
    color: var(--text-primary);
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .buttons {
      margin-top: 5rem;
    display: block;
  }
  
  .neon-button {
    margin-left: 2rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.5;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    background-color: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }